<!DOCTYPE html>
<html>
  <head>
    <title>WebCampBackendNew</title>
    <%= stylesheet_link_tag 'application' %>
  </head>

  <body>
    <h1>
      ようこそ <strong>Bookers</strong> へ！
    </h1>
    <p class="description">
      <strong>Bookers </strong>では、さまざまな書籍に関するあなたの意見や
    </p>
    <p class="description">
      印象を共有し交換することができます
    </p>
    <%= link_to "start", '/books' %>
  </body>
</html>